{% extends 'home/base.html' %}

{% block title %}
Pay for Booking - {{ booking.id }}
{% endblock title %}

{% block body %}
<main class="container mt-5">
    <h1 class="text-center">Payment for Booking ID: {{ booking.id }}</h1>

    <p><strong>Hotel:</strong> {{ booking.hotel.name }}</p>
    <p><strong>Room:</strong> {{ booking.room.room_number }}</p>
    <p><strong>Start Date:</strong> {{ booking.start_date }}</p>
    <p><strong>End Date:</strong> {{ booking.end_date }}</p>

    <p><strong>Price per Night:</strong> ${{ price_per_night }}</p>
    <p><strong>Number of Nights:</strong> {{ num_nights }}</p>
    <p><strong>Subtotal:</strong> ${{ sub_total }}</p>
    <p><strong>Sales Tax ({{ booking.tax.percentage }}%):</strong> ${{ sales_tax }}</p>
    <p><strong>Tax on Card 5%</strong>${{tax_card}}</p>
    <p><strong>Tax on Cash 16%</strong>${{tax_cash}}</p>
    <p><strong>Total Amount:</strong> ${{ total|floatformat:2 }}</p>

    <form method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-success">Pay Now</button>
    </form>
</main>
{% endblock body %}
